.logo__link-mobile{
    color: #35006A;
    font-family: 'Benzin Bold';
    font-size: 64px;
}

.mobile__header{
    background-color: #010101;
    display: flex;
    align-items: center;
    /* gap: 295px; */
    justify-content: space-between;
}

.burger{
    display: block;
    width: 49px;
    height: 5px;
    background-color: #35006A;
    border-radius:8px;
}

.burger:not(:last-child){
    margin: 0 0 8px;
}

