@import url('./banner.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Benzin Regular';
    list-style-type: none;
}

:root{
    --main-color:#35006A;
    --secondary-color:#FF8C00;
    --radius:44px;
}

body{
    background-color: #010101;
}

.container{
    max-width: 1360px;
    margin: 0 auto;
}

.link{
    text-decoration: none;
}

.header{
    margin-top: 14px;
    font-size: 24px;
}

.header__wrapper{
    display: flex;
    gap: 100px;
    align-items: center;
}

.nav-list{
    background-color: var(--main-color);
    padding: 5px 5px;
    border-radius: var(--radius);
}

.nav-list{
    display: flex;
    gap: 25px;
}

.list_item{
    padding: 15px 15px;
    border-radius: var(--radius);
}

.header-link{
    font-family: 'Benzin SemiBold';
    color: var(--secondary-color);
}

.login-btn{
    padding: 15px 60px;
    border-radius: 44px;
    font-size: 24px;
    font-family: 'Benzin SemiBold';
    background: transparent;
    border: 4px solid var(--main-color);
    color: var(--secondary-color);
    cursor: pointer;
}

.active-link{
    background: var(--secondary-color);
    color: var(--main-color);
    /* padding: 5px 25px;
    border-radius: var(--radius); */
}

.main{
    margin:0 37px 0 64px ;
}

.event{
    border-radius: 31px 31px 0px 0px;
    background: url('https://img-cdn.hltv.org/eventbanner/N0-VIPSOfPzDcD5LutQIjd.png?ixlib=java-2.1.0&w=1276&s=fd54ae002769c88c3196e6b28162fd88');
    background-position: 50%;
    padding: 216px 0 0;
    background-repeat: no-repeat;
    background-size: cover;
}

.event-information_container{
    display: flex;
    color: var(--secondary-color);
    background: linear-gradient(179deg, rgba(102, 0, 204, 0.00) 17.14%, #60C 68.57%);
    padding: 0px 64px 16px;
    justify-content: space-between;
}

.info-prize{
    text-align: right;
}

.event-info{
    display: flex;
    flex-direction: column;
    gap: 32px;
    color: #FF8C00;
    font-family: 'Benzin-Semibold';
    font-size: 36px;
    font-weight: 600;
}