@import url('./banner.css');
@import url('./footer.css');

@media screen and (max-width:425px) {

    .header{
        display: none;
    }

    .banner{
        display: none;
    }

    .event{
        margin: 120px 0 0;
        width: 380px;
        background-position: 50%;
        background-size: contain;
    }

    .container{
        max-width: 380px;
        margin: 0 auto;
    }

    .news-img{
        width: 380px;
    }

    .load-more{
        width: 380px;
        padding: 0;
        display: none;
    }

    .row{
        max-width: 380px;
        flex-direction: column;
        align-items:flex-start;
        font-weight: 700;
    }
    .footer__menu{
        flex-direction: column;
        text-align: left;
        gap: 12px;
    }

    .copyright{
        text-align: left;
    }

    .news-header{
        font-size: 14px
    }

    .footer-restriction{
        position: relative;
        top: -400px;
        left: 298px;
        width: 46px;
    }

    .event-info:nth-child(1){
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 15px;
        font-size: 20px;
    }

    .event-info:nth-child(2){
        display: none;
    }

    .articles__wrapper{
        max-width: 1360px;
        margin: 64px 0;
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    
    .articles__container{
        color: white;
        padding-left: 12px;
        padding-bottom: 25px;
        max-width: 390px;
        border-radius: 18px;
        background-color: #42295B;
    }
    
    .articles__game-container{
        display: flex;
        align-items: center;
        gap: 6px;
        padding: 13px 0;
    }
    
    .game-icon{
        max-width: 23px;
    }
    
    .articles-image{
        margin-left: -12px;
        max-width: 390px;
        border-bottom: 4px solid #60C;
        border-radius: 20px 20px 20px 0px;
    }

    .text-preview{
        display: none;
    }

    .container-img{
        max-width: 218px;
    }

    .article__text_author-wrapper{
        display: none;
    }

    .article__text-name{
        font-size: 12px;
    }
}

@media screen and (min-width:426px) {

    .text-header{
        font-size: 18px;
    }

    .img-container, .container-img{
        max-width: 660px;
    }
    
    .container{
        max-width: 1360px;
        margin: 0 auto;
    }

    .articles__wrapper{
        max-width: 1360px;
        margin: 64px 0;
        display: grid;
        grid-template-columns: repeat(3, 427px);
        gap: 40px;
    }
    
    .articles__container{
        color: white;
        padding-left: 12px;
        padding-bottom: 25px;
        max-width: 427px;
        border-radius: 18px;
        background-color: #42295B;
    }
    
    .articles__game-container{
        display: flex;
        align-items: center;
        gap: 6px;
        padding: 13px 0;
    }
    
    .game-icon{
        max-width: 23px;
    }
    
    .articles-image{
        margin-left: -12px;
        max-width: 427px;
        border-bottom: 4px solid #60C;
        border-radius: 20px 20px 20px 0px;
    }

    .row:nth-child(2){
        margin: 64px 233px 10px;
    }

    .news-header{
        font-size: 36px
    }

    .row{
        align-items: self-start;
    }

    .footer__menu{
        margin: 0 405px 0 61px;
        gap: 64px;
    }

    .event{
        margin-top: 33px;
        /* border-radius: 31px 31px 0px 0px; */
        background: url('https://img-cdn.hltv.org/eventbanner/N0-VIPSOfPzDcD5LutQIjd.png?ixlib=java-2.1.0&w=1276&s=fd54ae002769c88c3196e6b28162fd88');
        /* background-position: 50%; */
        padding: 216px 0 0;
        background-repeat: no-repeat;
        background-position:50% ;
    }

    .event-info{
        display: flex;
    }

    .load-more{
        padding: 8px 560px;
    }
}

@keyframes bghover {
    from{
        background-size: 0%;
    }

    to{
        background-size: 100%;
    }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Benzin Regular';
    list-style-type: none;
}

:root{
    --main-color:#35006A;
    --secondary-color:#FF8C00;
    --radius:44px;
}

body{
    background-color: #010101;
    scroll-behavior: smooth;
}

.secondary-color{
    color: var(--secondary-color);
}

.link{
    text-decoration: none;
}

.header{
    margin-top: 14px;
    font-size: 24px;
}

.header__wrapper{
    display: flex;
    gap: 100px;
    align-items: center;
}

.nav-list{
    display: flex;
}

.event{
    background-repeat: no-repeat;
        background-image: url('https://img-cdn.hltv.org/eventbanner/N0-VIPSOfPzDcD5LutQIjd.png?ixlib=java-2.1.0&w=1276&s=fd54ae002769c88c3196e6b28162fd88');
}

.header__nav-list{
    background-color: var(--main-color);
    padding: 5px 5px;
    border-radius: var(--radius);
    display: flex;
    gap: 25px;
}

.list_item{
    padding: 15px 15px;
    border-radius: var(--radius);
}

.header-link{
    font-family: 'Benzin SemiBold';
    color: var(--secondary-color);
}

.login-btn{
    padding: 15px 60px;
    border-radius: 44px;
    font-size: 24px;
    font-family: 'Benzin SemiBold';
    background: transparent;
    border: 4px solid var(--main-color);
    color: var(--secondary-color);
    cursor: pointer;
}

.active-link{
    background: var(--secondary-color);
    color: var(--main-color);
    /* padding: 5px 25px;
    border-radius: var(--radius); */
}

.event-information_container{
    display: flex;
    gap: 236px;
    color: var(--secondary-color);
    background: linear-gradient(179deg, rgba(102, 0, 204, 0.00) 17.14%, #60C 100%);
    padding: 0px 64px 16px;
    justify-content: space-between;
}

.info-prize{
    text-align: right;
}

.event-info{
    flex-direction: column;
    gap: 32px;
    color: #FF8C00;
    font-family: 'Benzin-Semibold';
    font-size: 36px;
    font-weight: 600;
}

.footer{
    font-family: 'Inter', 'sans-serif';
}

.copyright{
    color: #585858;
    font-family: 'Inter', 'sans-serif';
    font-size: 16px;
    font-weight: 400;
}

.news-header{
    margin-left: 9px;
    font-weight: 600;
    max-width: 1007px;
}

.load-more{
    color: white;
    font-weight: 600;
    font-size: 12px;
    text-align: center;
    margin-top: 32px;
    max-width: 1360px;
    border-radius: 4px;
    border-bottom: 3px solid #60C;
    background: #35006A;
    cursor: pointer;
}

.input{
    width: 333px;
    height: 44px;
    border: 1px solid #FF8C00;
    text-align: center;
    border-radius: 9px;
    background: transparent;
    font-family: 'Inter', sans-serif;
    color: white;
    font-size: 16px;
    font-weight: 400;
}

.input::placeholder{
    color: white;
    font-size: 16px;
    font-weight: 400;
}

.input:hover{
    background: linear-gradient(90deg, #FF8C00 0%, #60C 100%) no-repeat;
    animation: bghover ease-out 2s;
}

.burger-link{
    font-family: 'Benzin Bold';
    color: #fff;
    font-size: 48px;
}

.burger__nav-list{
    width: 100%;
    position: fixed;
    height: 100%;
    display: flex;
    gap: 24px;
    flex-direction: column;
    align-items: center;
    background-color: #6600CC;
}

.burger__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.unactive{
    display: none;
}

.logo__link-burger{
    color: #FFF;
    font-family: 'Benzin Bold';
    font-size: 64px;
    margin-right: 305px;
}

.burger_menu{
    width: 0px;
    height: 5px;
    background-color: #FFF;
    position: absolute;
    top:39px;
    border-radius:8px;
    left: 357px;
    transition: transfrom ease-in .5s 1s;
}

.burger_menu::before{
    transform: rotate(45deg);
    content: '';
    display: block;
    width: 49px;
    height: 5px;
    background-color: #FFF;
    position: relative;
    border-radius:8px;
    bottom: -5px;
}

.burger_menu::after{
    transform: rotate(-45deg);
    content: '';
    display: block;
    width: 49px;
    height: 5px;
    background-color: #FFF;
    position: relative;
    border-radius:8px;
}


.burger-menu{
    transition: opacity 1s;
}

.active{
    opacity: 1;
}