.modal{
    display: none;
    position: absolute;
    top: 127px;
    left: 40vw;
    background-color: #232323;
    border: 6px solid #6600CC;
    border-radius: 44px;
    backdrop-filter: blur(8px);
    padding: 63px 40px 94px;
}


.modal__wrapper{
    backdrop-filter: blur(8px);
}


.modal__header{
    display: flex;
    padding-left: 82px;
}



.modal-heading{
    color: #6600CC;
    font-family: 'Benzin Bold';
}

.exit-img{
    position: relative;
    top: -32px;
    left: 54px;
    cursor: pointer;
}


#formModal{
    display: flex;
    flex-direction: column;
}

.input__wrapper{
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 61px 0 140px;
}

.modal-active{
    position: absolute;
    top: 127px;
    left: 40vw;
    background-color: #232323;
    border: 6px solid #6600CC;
    border-radius: 44px;
    backdrop-filter: blur(8px);
    padding: 63px 40px 94px;
}

.register, .register-link{
    text-align: center;
    margin-top: 24px;
    color: white;
    font-family: 'Inter', sans-serif;
}

.register-link{
    text-decoration: underline;
}